<table class="table table-striped">
    <div> 
    <thead>
        <tr><th>Name</th>
            <th>Salaty</th>
            <th>Position</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>

        <!-- <tr ng-repeat="emp in employee | limitTo: 5:2"> -->
         <tr ng-repeat="emp in employees">
            <td>{{ emp.name }}</td>
             <td>{{ emp.salary }}</td>
             <td>{{ emp.Position }}</td>
             <td>
                 {{ emp.Address.Thana}}-
                 {{emp.Address.PostCode}},
                 {{emp.Address.Dist}}

             </td>
             <td ng-repeat="con in emp.contact">
                 {{con.phone}}
                 {{con.email}}

             </td>

        </tr>
    </tbody>
</div>
</table>


