<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

    <p>try to change the names.</p>
    <div ng-app="myApp" ng-controller="myCtrl" >

    First  Name: <input type="text" ng-model="firstName"><br/>
    Last  Name: <input type="text" ng-model="lastName"><br/>
    <br/>
    Full Name: {{firstName +" " + lastName}}
    </div>

    <script>
        // AngularJS modules define applications:
        var app = angular.module('myApp', []);
        
        //AngularJS controllers control applications:
        app.controller('myCtrl', function($scope){
            $scope.firstName = "Nazmul";
            $scope.lastName = "Hossain";
        });
    </script>

<!-- 
<div ng-app="">
  <p>Name: <input type="text" ng-model="name"></p>
  <p>{{name}}</p>
</div> -->

</body>
</html>


<!-- <!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="">
  <p>My first expression: {{ 5 + 5 }}</p>
</div>

</body>
</html> -->